#loginPage {
    height: 100vh;
    .card {
        height: auto;
    }
}
#regPage {

    .card {
        height: auto;
    }
}
.full-height {
    height : 100vh
}
.logo-page {
    max-width: 150px;
    width: 100%;
}