@media only screen and (max-width: 1200px) {
    #header {
      background-position: 70% 50%;
    }
  
    #header-content {
      max-width: 100%;
      width: 100%;
    }
  
    .logo {
      width: 210px;
    }
  
    #official-content {
      margin-top: 35vh;
    }
  
    .story {
      border-radius: 5%;
      max-height: 280px;
    }
  }
  @media only screen and (max-width: 1366px) {
    .story {
      max-height: 300px;
    }
  
    #mvideo .card {
      border: none;
      /* height: 220px; */
    }
  }
  @media only screen and (max-width: 992px) {
    #searchContainer, #userLogin {
      display: none;
    }
  
    .userButton {
      display: inline;
    }
  
    .logo {
      width: 250px;
    }
  
    .team-logo {
      max-height: 20px;
    }
  
    .logo-mob {
      width: 100%;
      max-width: 250px;
      display: block !important;
      margin: auto;
    }
  
    #CTA-header {
      display: inline;
    }
  }
  /* responsive css */
  @media only screen and (max-width: 768px) {
    /* #header {
      background-image: url("../../upload/bg/mob.jpg");
      background-position: 70% 50%;
      background-color: #120703;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 300%;
      background-color: #464646;
      height: 100vh;
    } */
    #video {
      height: auto;
    }
  
    .full-height {
      height : auto!important
  } 
    .navigation-top {
      background-color: #333d57;
    }
  
    .carousel-item {
      height: 100vh;
    }
    .carousel-item img {
      height: 100vh;
    }
  
    #topnav {
      background: #333d57;
    }
  
    #logo-fantasy-top {
      display: inline;
      text-align: center !important;
    }
  
    #header-content {
      max-width: 100%;
      width: 100%;
      /* background: rgb(0 0 0 / 26%); */
    }
  
    #official-content {
      margin-top: 10vh;
    }
  
    .m88container {
      align-items: center;
      align-content: center;
      padding: 0;
    }
  
    .sponsored {
      margin: auto;
      align-items: center;
      align-content: center;
      text-align: center;
    }
  
    .containerLogo {
      display: none;
    }
  
    #team {
      visibility: visible;
    }
  
    h1 {
      font-size: 2em;
    }
  
    #newsImgsub {
      width: 100%;
      object-fit: cover;
    }
  
    #headCover {
      height: 400px;
    }
  
    .card {
      height: auto;
    }
  
    .logo {
      display: none;
    }
  
    .m88logo {
      width: 100px;
    }
  
    .laligalogo {
      /* height: 100px; */
      width: 150px;
    }
  }
  @media only screen and (max-width: 360px) {
    #header {
      height: 100vh;
    }
  
    .logo {
      width: 150px;
      display: none;
    }
  
    #official-content {
      margin-top: 10px;
    }
  
    .m88logo {
      width: 140px;
    }
  }